/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * tinyepicgalaxiesclr implementation : © Cássio Landim Ribeiro <ziglee@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * tinyepicgalaxiesclr.css
 *
 * tinyepicgalaxiesclr stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (tinyepicgalaxiesclr_tinyepicgalaxiesclr.tpl), and to HTML elements you create dynamically
    (in tinyepicgalaxiesclr.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

.mission-card-to-choose {
    cursor: pointer;
    background-color: aqua;
    padding: 10px;
    margin: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#activation-bay {
    width: 585px;
    height: 271px;
    background-image: url('img/activationbay.png');
}

/*
 .galaxy-mat {
    width: 900px;
    height: 546px;
    background-image: url('img/galaxymats.jpg');
    background-size: auto 100%;
    z-index: 2;
}
*/

#dice-tray {
    display: flex;
}

#dice-face-selection-options {
    display: flex;
}

.die-face {
    margin: 2px;
    width: 50px;
    height: 50px;
    background-image: url('img/diefaces.png');
}

.die-slot {
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.die-newface {
    cursor: pointer;
}

.die-convert-slot {
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.die-slot[data-face="0"] { 
    border-width: 0px;
    width: 0px;
    height: 0px;
 }
 .die-slot[data-used="1"] { 
     cursor: not-allowed; 
     border-color: gray;
     box-shadow: inset 0 0 0 1000px rgba(255,255,255,.6)
 }

.die-face[data-face="1"] { background-position-x: 0px; }
.die-face[data-face="2"] { background-position-x: -50px; }
.die-face[data-face="3"] { background-position-x: -100px; }
.die-face[data-face="4"] { background-position-x: -150px; }
.die-face[data-face="5"] { background-position-x: -200px; }
.die-face[data-face="6"] { background-position-x: -250px; }

.die-active {
    border-style: solid;
    border-width: 2px;
    border-color: blue;
}

.die-convert-active {
    border-style: solid;
    border-width: 2px;
    border-color: blue;
}

#missions-to-choose {
    display: flex;
    justify-content: center;
}

#planet-cards-row {
    display: flex;
    position: relative;
}

#deck {
    position: relative;
    border-color: blue;
    border-style: solid;
    border-width: 2px;
    padding: 6px;
    margin: 2px;
    width: 100px;
}

.planet-card {
    position: relative;
    border-style: solid;
    border-width: 2px;
    padding: 6px;
    margin: 2px;
}

.planet-track {
    position: relative;
}

.planet-track-start {
    cursor: pointer;
    background-color: gainsboro;
}

.planet-surface {
    cursor: pointer;
    position: relative;
    background-color: gainsboro;
}

.planet-text {
    width: 150px;
    font-size: small;
}

.galaxy-mat {
    border-style: solid;
    border-width: 2px;
}

.ships-hangar {
    cursor: pointer;
    position: relative;
    width: 60px;
    background-color: gainsboro;
}

.empire-track {
    display: flex;
}

.ship-track {
    display: flex;
}

.points-track {
    display: flex;
}

.energy-culture-track {
    display: flex;
}

.ship {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
}

.ship[data-color="ff0000"] { background-color: #ff0000; }
.ship[data-color="008000"] { background-color: #008000; }
.ship[data-color="0000ff"] { background-color: #0000ff; }
.ship[data-color="ffe500"] { background-color: #ffe500; }
.ship[data-color="000000"] { background-color: #000000; }

.empire-track-slot {
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
}

.ship-track-slot {
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
}

.points-track-slot {
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
}

.energy-culture-track-slot {
    position: relative;
    width: 40px;
    height: 60px;
    border-style: solid;
    border-width: 1px;
}

.energy-token {
    position: relative;
}

.empire-token {
    position: relative;
}

.ship-selected {
    border-color: greenyellow;
}

#last-round {
    margin: 5px -5px -5px;
    text-align: center;
    background-color: #900;
    color: white;
    text-shadow: 0 0 1px #900, 0 0 5px #900, 0 0 6px #900, 0 0 7px #900;
}
#last-round .last-round-text {
    display: inline-block;
}
#last-round .last-round-text.animate {
    animation: last-round-animation 2s 1 forwards ease-in-out;
}

@keyframes last-round-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
    }
}